<div class="block-img-text row-plain">
    <div class="block-img-text__text">
        <p class="about-text">LIVE. WORK. REST. — ЖИВИ. ПРАЦЮЙ. ВІДПОЧИВАЙ.</p>
        <p class="about-text-l">У центрі Вінниці</p>
    </div>
    <div class="block-img-text__img-wrap"> 
        <div class="block-img-text__img plane"> 
            <img class="plane-img" src="https://www.central-park.vn.ua/wp-content/uploads/2023/10/xVinnytsia_Central_park_view_005_Final_2-scaled.jpg.pagespeed.ic.daNVwx0Ml5.webp" data-sampler="planeTexture">
        </div>
    </div>
</div>