
extends ../layout/main
block variable
  -
    var title_page = 'project'
    var id_page = 'home'
    var class_page = 'home '

block meta
  title= 'Щасливий у Дніпрі'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
    script(defer src="./assets/scripts/vendors.bundle.js")
    script(defer src="./assets/scripts/index.bundle.js")
block scripts
block content
  .container
    h1 Типові блоки для використання на сайтах Smarto Agency
    h2 Картка новин
    include ../components/cards/news-card.pug
    +githubSourceFileLink('template', 'pug/components/cards/news.pug')
    +githubSourceFileLink('scss', 'assets/styles/components/news-card.scss')
    hr
    h2 Повноєкранний паралакс зображення
    include ../components/effects/paralax-image/paralaxImage.pug
    +githubSourceFileLink('template', 'pug/components/effects/paralax-image/paralaxImage.pug')
    +githubSourceFileLink('scss', 'pug/components/effects/paralax-image/paralaxImage.scss')
    +githubSourceFileLink('js', 'pug/components/effects/paralax-image/paralaxImage.js')
    hr
    h2 Картка ходу будівництва
    include ../components/cards/progress-card.pug
    +githubSourceFileLink('scss', 'assets/styles/components/cards/progress-card.scss')
    +githubSourceFileLink('template', 'pug/components/cards/progress-card.pug')
    h2 Блок картинка/текст
    include ../components/blocks/block-img-text.pug
    +githubSourceFileLink('scss', 'assets/styles/components/blocks/block-img-text.scss')
    +githubSourceFileLink('template', 'pug/components/blocks/block-img-text.pug')
    hr
    h2 Простий слайдер з навігацією
    include ../components/sliders/zoom-slider.pug
    .row
      .col-2
        +githubSourceFileLink('scss', 'assets/styles/components/sliders/zoom-slider.scss')
      .col-2
        +githubSourceFileLink('template', 'pug/components/sliders/zoom-slider.pug')
      .col-2 
        +githubSourceFileLink('js', 'pug/components/sliders/zoom-slider.js')
    hr
    h2 Повноєкранний слайдер з навігацією через мишку
    include ../components/sliders/fullscreen-mouse-slider/fullscreen-mouse-slider.pug
    .row
      .col-2
        +githubSourceFileLink('scss', 'assets/styles/components/sliders/fullscreen-mouse-slider/fullscreen-mouse-slider.scss')
      .col-2
        +githubSourceFileLink('template', 'pug/components/sliders/fullscreen-mouse-slider/fullscreen-mouse-slider.pug')
      .col-2 
        +githubSourceFileLink('js', 'pug/components/sliders/fullscreen-mouse-slider/fullscreen-mouse-slider.js')
    hr
    h2 Блок з відкритою новиною
    include ../components/blocks/single-news-container/single-news-container.pug
    .row
      .col-2
        +githubSourceFileLink('scss', 'pug/components/blocks/single-news-container/single-news-container.scss')
      .col-2
        +githubSourceFileLink('template', 'pug/components/blocks/single-news-container/single-news-container.pug')
    hr
  