a(href="#").news-card.news
    img(src="./assets/images/home/home-page-screen1.jpg").news-card__image
    .news-card__text
        .news-card__label Новина
        .news-card__title Старт продаж нових секцій
        p Гарна новина! Розпочато продаж квартир у 7 секції в ЖК Щасливий у Дніпрі. Встигніть забронювати квартири площею від 40.7 м2 за кращою ціною. 
        .news-card__date 
            +svg('calendar')
            span 24.02.2023