<div class="progress-card" data-id="id">
    <div class="progress-card__img">
        <div class="progress-card__img-inner">
            <img src="img">
        </div>
    </div>
    <div class="progress-card__text">
        <div class="progress-card__text-title">title date</div>
        <div class="progress-card__text-text">text</div>
        <button class="button-30 button-30--blue">linkText</button>
    </div>
</div>